# M+++ configuration file

config EXAMPLES_M_THREE_PLUS
	tristate "M+++"
	default y
	---help---
		Enable the M_THREE_PLUS example

if EXAMPLES_M_THREE_PLUS

config EXAMPLES_M_THREE_PLUS_STACKSIZE
	int "M+++ stack size"
	default DEFAULT_TASK_STACKSIZE


config EXAMPLES_M_THREE_PLUS_IPADDR
	hex "Device IP"
	default 0x0a000002
	---help---
		This is the IP address of your board.

config EXAMPLES_M_THREE_PLUS_DRIPADDR
	hex "Default Router IP"
	default 0x0a000001
	---help---
		This is the IP address of your router/gateway.

config EXAMPLES_M_THREE_PLUS_NETMASK
	hex "Network Mask"
	default 0xffffff00
	---help---
		This is the network mask to use on this device.

config EXAMPLES_M_THREE_PLUS_DHCPC
	bool "Enable DHCPC"
	default y
	---help---
		Enable DHCP client.

config EXAMPLES_M_THREE_PLUS_NOMAC
	bool "No hardware MAC"
	default y
	---help---
		Some devices don't have hardware MAC then we need to define a
		software MAC.

endif
