# M+++ configuration file

config EXAMPLES_M_THREE_PLUS
	bool "mthreeplus"
	default y
	---help---
		Enable the M_THREE_PLUS example

if EXAMPLES_M_THREE_PLUS

config EXAMPLES_M_THREE_PLUS_PROGNAME
	string "Program name"
	default "mthreeplus"

config EXAMPLES_M_THREE_PLUS_PRIORITY
	int "task priority"
	default 100

config EXAMPLES_M_THREE_PLUS_STACKSIZE
	int "stack size"
	default DEFAULT_TASK_STACKSIZE

endif
