# M+++ configuration file

config EXAMPLES_M3P
	bool "M3P"
	default y
	---help---
		Enable the M3P

if EXAMPLES_M3P

config EXAMPLES_M3P_PROGNAME
	string "Program name"
	default "m3p"

config EXAMPLES_M3P_PRIORITY
	int "task priority"
	default 100

config EXAMPLES_M3P_STACKSIZE
	int "stack size"
	default 8000

endif
